<!Doctype HTML>

  <html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!--My Stylesheet-->
    <link rel="stylesheet" href="../static/base_styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
    <!-- my js script -->
    <script type="text/javascript" src="../static/ajax.js"></script>

    <!-- Title of webpage-->         
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> No title specified</title>
    {% endif %}

  </head>

  <body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-sm" id="menu">
      <a class="navbar-brand" href="/browse-all">ShoeSwap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: beige;"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/browse-all">Browse Products<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/add-product">Upload Product</a></li>
          <li class="nav-item"><a class="nav-link" href="/profile">View Profile</a></li>
          {% if current_user.is_authenticated %}
          <li class="nav-item"><a class ="nav-link" href="{{ url_for('viewbasket')}}">Basket</a></li>
            <li class="nav-item"><a class ="nav-link" href="{{ url_for('logout')}}">Sign Out</a></li>
        {% endif %}

        </ul>
      </div>
    </nav>

    <!-- Flashed messages-->
    <div class="messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
        
        <div class="alert alert-{{category}} show" role="alert">
            <span><strong>{{ message }} </strong></span>
        </div>
       
        {% endfor %}
        </ul>
    {% endif %}

    {% endwith %}
    </div>
    

    <div>
      {% block content %}{% endblock %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
