{% extends "base.html" %}
{% block content %}

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title</title>
    {% endif %}
  </head>
  <body>

      <div class="info">
        <h1>Your Basket</h1>
      </div>
      
      <!-- if there are products to show then view them, else shoe a no products message-->
      {% if products.__len__() > 0 %}
      <div class="container productview">
          
          <div class="row">
              {% for p in products %}

              <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                  <div class="card mb-6">
                      <div class="card-body">
                          
                          <img src="{{ url_for('getimage', id=p.product_id) }}"  alt="{{ p.product_name }}" class="product-image card-img-top">
                          <br><br>
                          <h4 class="details title card-title fw-bold ">{{ (url_for('getproduct', id=p.product_id)).product_name }} </h4>
                          
                          <!-- Buttons for interacting with product-->
                          <div class="controls">
                            <a class="btn btn-danger" href="{{ url_for('removefrombasket', id=p.product_id) }}">Remove from Basket</a>          
                        </div>
                      </div>
                      </div>
                      
                  </div>
              </div>
              {% endfor %}
          <p class="total info">Total: £{{totalprice}}</p>
          <a class="btn btn-secondary" href="{{ url_for('checkout') }}">Checkout</a>
        {% else %}
            <p class="danger info">Empty Basket.</p>
        {% endif %}
      </div>

  </body>
{% endblock %}