{% extends "base.html" %}
 {% block content %}
   
    <h2 class="info"><i>Hello {{ user.first_name }}!</i></h2>
    
        <div class="user-attributes">

            <form action="" method="POST" id="login-signup">
                {{ form.hidden_tag() }}
            {% if changepassword == True %}
                
                <!--Password-->
                <p>
                    <label>Old Password: 
                    {{ form.old_password }}</label><br>
                </p>    
                
                <p>
                    <label>New Password: 
                    {{ form.new_password }}</label><br>
                </p>     

                <p>
                    <label> 
                    {{ form.submit }}</label>
                    <a class="btn btn-danger" href="{{ url_for('profile') }}">Cancel</a>
                </p>     
            </form>
            {% else %}
                <a class="btn btn-primary" href="{{ url_for('editaccount', id=user.id) }}">Change Account Details.</a>
                <a class="btn btn-primary" href="{{ url_for('editpassword', id=user.id) }}">Change Password.</a>
            {% endif %}

        </div>
        
 
        {% if changepassword == False %}
            <h2 class="info">Your uploads.</h2>

            <div class="filters">
            <a class="btn btn-primary" href="{{ url_for('add') }} ">+ Upload Product</a>
            </div>

                {% if products.__len__() > 0 %}
                <div class="container productview">
                    
                    <div class="row">
                        {% for p in products %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="card mb-6">
                                <div class="card-body">
                                    
                                    <img src="{{ url_for('getimage', id=p.id) }}"  alt="{{ p.name }}" class="product-image card-img-top">
                                    <br><br>
                                    <h4 class="details title card-title fw-bold ">{{ p.product_name }} </h4>
                                    
                                    <h3 class="details card-subtitle fw-dark"><strong>£{{ p.price }}</strong></h3>
                                    <div class="details card-text fw-lighter"><i>{{ p.description }}</i> </div>
                                    
                                    <br>
                                    <h6 class="details card-subtitle fw-light">Quanity Available x {{ p.quantity_available }}</h6>
                                    <br>
                                    <!-- Buttons for interacting with product-->
                                    <div class="controls">
                                        
                                        <a class="btn btn-primary" href="{{ url_for('edit', id=p.id) }}">Edit</a>
                                        <a class="btn btn-danger" href="{{ url_for('delete', id=p.id)}}">Delete</a>                                   
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="danger info">You have uploaded no products.</p>
                {% endif %}
            </div>
       
            

            <h2 class="info">Your Orders</h2>
            {% if userorders.__len__() > 0 %}

            <div class="container productview">
                    
                <div class="row">
                    {% for o in orderedProducts %}
                    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card mb-6">
                            <div class="card-body">
                                
                                <!--<img src="{{ url_for('getimage', id=p.id) }}"  alt="{{ p.name }}" class="product-image card-img-top">
                            --><br><br>
                                <h4 class="details title card-title fw-bold ">{{ p.product_name }} </h4>
                                
                                <h3 class="details card-subtitle fw-dark"><strong>£{{ p.price }}</strong></h3>
                                <div class="details card-text fw-lighter"><i>{{ p.description }}</i> </div>
                                
                                <h6 class="details card-subtitle fw-light">Shipping Address : {{ p.quantity_available }}</h6>
                                <br>
                                <h6 class="details card-subtitle fw-light">Quanity : {{ p.quantity_available }}</h6>

                            </div>
                        </div>
                    </div>
                    {% endfor %}

                get id from each orders

                for each product in ordered products where orderid = userorder.id
            {% else %}
                <p class="emptymessage">You have no orders.</p>
                <div class="filters">
                <a class="btn btn-primary" href="{{ url_for('viewbasket') }} ">Go to Basket</a>
                    </div>
                {% endif %}
            {% endif %}
{% endblock %}